.parcel-cache
.spago
.psc-ide-port
.purs-repl
.spec-results
.psci_modules
!.gitignore
!.github

output
generated-docs
bower_components
node_modules

package-lock.json
*.lock
!spago.lock

dist/
prod/*
staging/*

tmp/*

tsconfig.tsbuildinfo
